* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
h {
    font-size: 60px;
    font-weight: bold;
    margin: 40px auto;
}
p {
    color: transparent;
    text-shadow: 0 0 0px rgba(0,0,0,0.5);
}
header {
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}
.header {
    padding: 30px;
    width: 100%;
}
.logo {
    width: 20%;
    font-size: 30px;
    float: left;
    left: 20px;
    top: 20px;
}
header nav {
    float: right;
}
.nav {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.nav:hover {
    background-color: beige;
    color: black;
}
.main-header {
    padding: 200px;
    text-align: center;
}
.item1 {
    width: 50%;
    margin: auto;
}
.item2 {
    border: 3px solid white;
    border-radius: 5px;
    width: fit-content;
    margin: 50px auto 0px;
}
.label-list {
    text-align: center;
    font-size: 50px;
}
.welcome {
    width: 80%;
    text-align: center;
    margin: 80px auto;
}
.welcome p{
    width: 85%;
    margin: 30px auto;
}
.welcome img {
    width: 100%;
}
.what-we-do {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container div{
    width: 25%;
    padding: 20px;
}
.container img {
    border-radius: 50%;
    width: 70%;
}
.statistics {
    width: 100%;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 80px;
}
.statistics h2{
    margin: auto;
    padding-top: 80px;
    font-size: 70px;
}
.text{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.text div{
    width: 25% auto;
    margin: 20px auto;
}
.text h5{
    font-size: 80px;
    margin: auto;
}
.text span{
    font-size: 25px;
    margin-bottom: 60px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10%;
    background-color: azure;
}
.left {
    width: 40%;
    line-height: 3;
    padding-right: 5%;
}
.right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;

}
.right div{
    width: 47%;
    padding: 50px;
    /* border: 3px solid black; */
    background-color: white;
    margin: 10px auto;
    box-shadow: 7px 7px 4px #e1e7ed;
}
.testimaonials{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px;
    color: white;
    text-align: center;
}
.eat {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.eat div {
    margin: 40px 40px 20px;

}
.eat img{
    border-radius: 50%;
    margin: 20px;
}
.eat b{
    float: right;
    color: orange;
}
.blog {
    width: 80%;
    margin: 100px auto 80px;
}
.blog h {
    display: block;
    text-align: center;
}
.play {
    display: flex;
    justify-content: space-around;
}
.play>div {
    width: 33%;
    border: 3px solid rgb(204, 220, 220);
    margin: 40px 15px;
}
.play a,span {
    color:orange;
    text-decoration: none;
}
.play img {
    width: 100%;
}
.group {
    padding: 40px;
}
.map {
    margin: 80px auto;
}
.contact {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.aaa {
    grid-column-start: 1;
    grid-column-end: 3;
}
.info {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.info h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.info img {
    position: relative;
    top: 25%;
}
form {
    background-color: #eff5f5;
    box-shadow: 10px 10px 10px #e1e7ed;
    padding: 7%;
    width: 100%;
}
form input,textarea {
    width: 100%;
    margin-bottom: 5%;
    border: 0.2px solid paleturquoise;
    padding: 3%;
}
.submit {
    color: white;
    background-color: orange;
    height: 50px;
    border-radius: 5px;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 4% 7%;
    display: grid;
    grid-template-columns: 22% 22% 20% auto;
    gap: 4%;
    opacity:0.85;
}
footer span {
    color: transparent;
    text-shadow: 0 0 0px rgb(255 250 250 / 50%);
}
footer img {
    width: 40px;
    height: 40px;
}